body {
	background-image: url('https://abs.twimg.com/images/themes/theme1/bg.png');
	background-repeat: no-repeat;
	font-family: sans-serif, Arial;
	color: #292f33;
	background-color: #C0DEED;
	font-size: 14px;
	line-height: 18px;
	height: 1500px;
}

/*----- Navigation Bar ---------*/
div.navigation-bar {
	position: fixed;
	top: 0px;
	right: 0px;
	left: 0px;
	display: flex;
	flex-direction: row;
}

	.navigation-inner {
		background: #ffffff;
		height: 46px;
		font-family: sans-serif;
		font-size: 14px;
		font-weight: 100;
		color: #66757f;
		display: flex;
		width: 100%;
	}

	.nav-container {
		min-width: 590px;
		max-width: 890px;
		text-align: center;
		width: auto;
		display: flex;
		margin-left: 114px;
	}

img.nav-logo {
	width: 33px;
	vertical-align: middle;
}

img#central-logo {
	float: left;
	width:77px;
}


ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.nav li {
	float: left;
	opacity: 0.7;
}
.nav li:hover {
	opacity: 1;
}

a.nav {
	text-decoration: none;
	display: block;
	line-height: 45px;
	padding-left: 12px;
	padding-right: 12px;
}
a.nav:hover {
	border-bottom: 4px solid #0084B4;
	transition: all .25s ease-in-out;
}

a.nav#home-button {
	border-bottom: 4px solid #0084B4;
}

section.search-bar {
	padding-top: 8px;
}

div.search-bar {
	display: flex;
	padding-top: 4px;
	padding-left: 10px;
	background-color: #8899A6;
	width: 200px;
	height: 25px;
	border-radius: 25px;
}


::-webkit-input-placeholder#search-input {
	color: #ccd6dd;
	font-size: 12px;
	font-weight: 100;
}
input#search-input {
	background-color: #8899a6;
	border: none;
	color: white;
	padding-bottom: 5px;
}
input:focus#search-input {
	outline-width: 0;
}
img#search-icon {
	width: 14px;
	height: 14px;
	margin-left: 51px;
	margin-top: 4px;
}

ul.options {
	display: flex;
	flex-direction: row;
	margin-left: 35px;
	margin-top: 1px;
}
li#direct-messages {
	opacity: 0.6;
	cursor: pointer;
}
li#direct-messages:hover {
	opacity: 1;
}

img.direct-mail-right {
	height: 38px;
	width: 42px;
	padding-right: 5px;
	margin-top: 5px;
}
img.settings-right {
	height: 38px;
	width: 38px;
	padding-right: 5px;
	margin-top: 5px;
}
img.compose-right {
	height: 43px;
	width: 55px;
}

/*input:focus div.search-bar {
	background-color: #66757f;
}*/


/*------ Main page elements -------*/

div.main-container {
	display: flex;
	height: 100%;
	width: 100%;
}


/* ------ Elements Left --------*/
	.dashboard-left-side {
		display: flex;
		flex-direction: column;
		float: left;
		order: 1;
		margin-top: 55px;
		margin-left: 114px;
	}
	/*------ Profile information container -----*/
.profile-display {
	display: flex;
	flex-direction: column;
	background-color: #FFF;
	width: 290px;
	height: 254px;
	border: 1px solid #E1E8ED;
	border-radius: 6px;
	margin-bottom: 10px;
}
	.profile-background-image {
		display: flex;
		height: 96px;
		width: 290px;
		border-bottom: 1px solid #E1E8ED;
	}
		img.profile-banner-image {
			width: 186px;
			height: 96px;
			margin-left: 93px;
		}

	.profile-username {
		display: flex;
		height: 58px;
	}
		.user-logo {
			height: 74px;
			border-radius: 5px;
			margin-left: 5px;
			margin-top: -16px;
		}
		.user-name {
			margin-left: 8px;
			margin-top: 7px;
			font-size: 19px;
			position: absolute;
		}
		.user-handle {
			margin-top: 26px;
			margin-left: 11px;
			font-size: 12px;
			color: #66757f;
			font-weight: 100;
		}
	.profile-followers {
		display: flex;
		height: 46px;
	}
		div.profile-followers-headings {
			position: absolute;
			font-size: 11px;
			padding-left: 18px;
			word-spacing: 31px;
			color: #66757f;
			font-weight: 100;
		}
		div.profile-followers-numbers {
			margin-top: 17px;
			padding-left: 18px;
			word-spacing: 53px;
			font-size: 20px;
			color: #0084B4;
			font-weight: 300;
		}

	.profile-compose-tweet {
		display: flex;
		height: 53px;
		background-color: #E5F2F7;
		border-bottom-left-radius: 6px;
		border-bottom-right-radius: 6px;
		border-top: 1px solid #ABD5E5;
	}
		input#compose-tweet {
			margin: auto;
			height: 57%;
			width: 87%;
			border-radius: 3px;
			border: 1px solid #ABD5E5;
			font-size: 14px;
			padding-left: 11px;
		}
		input#compose-tweet:focus {
			outline-width: 0;
		}
/*---- Who To Follow Container ---*/
.who-to-follow {
	display: flex;
	flex-direction: column;
	width: 290px;
	height: 293px;
	background-color: #FFF;
	border: 1px solid #E1E8ED;
	border-radius: 6px;
	margin-bottom: 10px;
}
	section.who-to-follow-upper {
		display: flex;
		flex-direction: column;
		height: 183px;
		padding: 15px;
	}
		.who-to-follow-text-container {
			display: flex;
			flex-direction: row;
			height: 22px;
			margin-bottom: 10px;
		}
			p.who-to-follow-header {
				display: flex;
				font-size: 22px;
				font-weight: 100;
				color: #66757f;
			}
			ul.refresh-view-all {
				display: flex;
				font-size: 13px;
				font-weight: 100;
				color: #0084B4;
				padding-top: 3px;
			}
				li#refresh {
					padding-left: 8px;
				}
				li#refresh:hover {
					text-decoration: underline;
					cursor: pointer;
				}
				li#view-all {
					padding-left: 8px;
				}
				li#view-all:hover {
					text-decoration: underline;
					cursor: pointer;
				}
		.who-to-follow-brand-box {
			display: flex;
			height: 52px;
			margin-top: 10px;
		}
			img.brand-1 {
				height: 75px;
				margin-top: -18px;
				margin-left: -6px;
			}
			img.brand-2 {
				height: 79px;
				margin-top: -9px;
				margin-left: -6px;
			}

	section.who-to-follow-lower {
		display: flex;
		flex-direction: column;
		height: 76px;
		padding: 15px;
		background-color: #f5f8fa;
		border-bottom-right-radius: 5px;
		border-bottom-left-radius: 5px;
		border-top: 1px solid #e1e8ed;
	}
		.gmail-box {
			display: flex;
			flex-direction: row;
			height: 44px;
			cursor: pointer;
			margin-top: -3px;
			margin-bottom: 5px;
			border-bottom: 1px solid #e1e8ed;
		}
			div.gmail-image {
				margin-top: -3px;
				margin-left: -3px;
				margin-right: 5px;
			}
			img.gmail-image {
				height: 41px;
			}

		section.gmail-box-text {
		}
			p.gmail-import-contacts {
				font-size: 12px;
				font-weight: 100;
				color: #8899a6;
			}
			p.gmail-find-people {
				font-weight: bold;
				font-size: 15px;
			}
		.other-address-books-box {
			display: flex;
			display: flex;
			margin-top: 4px;
			font-weight: 100;
		}
			p.other-address-books {
				color: #0084B4;
				font-size: 12px;
				cursor: pointer;
			}
			p.other-address-books:hover {
				text-decoration: underline;
			}

/*---- Trends Container ---*/
.trends {
	display: flex;
	flex-direction: column;
	width: 260px;
	height: 240px;
	padding: 15px;
	background-color: #FFF;
	border: 1px solid #E1E8ED;
	border-radius: 6px;
	margin-bottom: 10px;
}	
	.trends-headings-container {
		display: flex;
		flex-direction: row;
		height: 22px;
		margin-bottom: 10px;
	}
		p.trends-header {
			display: flex;
			font-size: 22px;
			font-weight: 100;
			color: #66757f;
		}
		li#trend {
			display: flex;
			font-size: 13px;
			font-weight: 100;
			color: #0084B4;
			padding-left: 8px;
			padding-top: 3px;
		}
			li#trend:hover {
				text-decoration: underline;
				cursor: pointer;
			}


/*--- Info Links ----*/

section#info-links {
	display: flex;
	width: 290px;
	height: 104px;
	background-color: #FFF;
	border: 1px solid #E1E8ED;
	border-radius: 6px;
	margin-bottom: 10px;
}
	ul#info-links {
		line-height: 18px;
		display: block;
		padding: 15px;
		font-weight: 100;
		font-size: 12px;
	}
	li.info-link {
		float: left;
		padding-right: 8px;
		color: #8899a6;
	}

/*----- Elements Center --------*/

.dashboard-middle {
		display: flex;
		flex-direction: column;
		float: left;
		order: 2;
		width: 588px;
		margin-top: 55px;
		background-color: #FFF;
		border: 1px solid #E1E8ED;
		border-radius: 6px;
		margin-left: 1%;
	}

	.tweet-display {
		display: flex;
		flex-direction: column-reverse;
	}

	.table-header {
		height: 47px;
		border-bottom: 1px solid #E1E8ED;
		vertical-align: middle;
		line-height: 47px;
		padding-left: 13px;
		font-family: sans-serif;
		font-size: 22px;
		font-weight: 100;
		color: #66757f;
	}

	li.tweet-information {
		display: flex;
		padding: 10px;
		border-bottom: 1px solid #E1E8ED;
	}


