body {
	background-image: url('https://abs.twimg.com/images/themes/theme1/bg.png');
	background-repeat: no-repeat;
	font-family: sans-serif, Arial;
	color: #292f33;
	background-color: #C0DEED;
	font-size: 14px;
	line-height: 18px;
	height: 1500px;
}

div.main-container {
	display: flex;
	height: 100%;
	width: 100%;
}

/*----- Elements Center --------*/

.dashboard-middle {
		display: flex;
		flex-direction: column;
		float: left;
		order: 2;
		width: 588px;
		margin-top: 55px;
		background-color: #FFF;
		border: 1px solid #E1E8ED;
		border-radius: 6px;
		margin-left: 1%;
	}
	.tweet-display {
		display: flex;
		flex-direction: column-reverse;
	}
	.table-header {
		height: 47px;
		border-bottom: 1px solid #E1E8ED;
		vertical-align: middle;
		line-height: 47px;
		padding-left: 13px;
		font-family: sans-serif;
		font-size: 22px;
		font-weight: 100;
		color: #66757f;
	}

/*--- Individual Tweet Container ---*/

li.tweet-container {
	display: flex;
	padding: 9px 12px;
	border-bottom: 1px solid #E1E8ED;
	cursor: pointer;
}
li.tweet-container:hover {
	background-color: #f5f8fa
}
	img.tweet-logo {
		height: 52px;
		width: 76px;
		margin-top: 7px;
	}
	div.tweet-content {
		margin-left: 11px;
		display: flex;
		flex-direction: column;
	}
		div.tweet-heading {
			display: flex;
			flex-direction: row;
		}
			h1.heading-fullname {
				font-weight: bold;
				color: #292f33;
			}
			h1.heading-fullname:hover {
				text-decoration: underline;
				color: #0084B4;
			}
			p.heading-username {
				display: flex;
				color: #8899a6;
				margin-left: 5px;
			}
			p.heading-post-time {
				display: flex;
				margin-left: 5px;
			}
			p.heading-post-time:hover {
				text-decoration: underline;
				color: #0084B4;
			}

		div.tweet-body {
			display: flex;
			flex-wrap: wrap;
		}

		div.tweet-footer {
			display: flex;
			flex-direction: row;
			color: #8899a6;
			margin-top: 4px;
		}
			p.expand {
				color: #8899a6;
				font-size: 13px;
			}
			p.expand:hover {
				color: #0084B4;
				text-decoration: underline;
			}
			ul.tweet-actions {
				display: flex;
				flex-direction: row;
				margin-left: 164px;
				font-size: 13px;
			}
			img.action-image {
				padding-right: 7px;
				margin-left: 8px;
				margin-bottom: -3px;
			}
			li.tweet-action:hover {
				text-decoration: underline;
			}
			a.more-icon {
				margin-left: 8px;
				margin-right: 4px;
			}

img.loading-image {
	display: block;
	margin: 0 auto;
	margin-top: 20px;
}

